<section class="service container">
    <h2 class="service-title">OUR MOST POPULAR SERVICES</h2>
    <ul class="dots-none service-list">
        @@include('service-card/index.html', {
          "img":"../../static/images/cactus.jpg",
          "alt":"",
          "title":"Tile & Grout Cleaning",
          "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/cactus.jpg",
          "alt":"",
          "title":"Tile & Grout Cleaning",
          "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/cactus.jpg",
          "alt":"",
          "title":"Tile & Grout Cleaning",
          "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/cactus.jpg",
          "alt":"",
          "title":"Tile & Grout Cleaning",
          "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
          "href":"#"

        })
    </ul>
</section>