<header class="header container"> 
  <img class="union" src="../../static/images/favicon/union.png" alt="">
      <nav class="menu">
          <ul class="dots-none header-list">
              <li class="header-item">
                  <a href="../../pages/catalog/index.html">Catalog</a>
              </li>
              <li class="header-item">
                  <a href="../../pages/about us/index.html">About Us</a>
              </li>
              <li class="header-item">
                  <a href="../../pages/blog/index.html">Blog</a>
              </li>
              <li class="header-item">
                  <a href="../../pages/animation frame/index.html">Animation</a>
              </li>
              <li class="header-item">
                  <a href="../../pages/svg/index.html">Svg</a>
              </li>
              <li class="header-item">
                <a href="../../pages/grid/index.html">Grid</a>
            </li>
          </ul>
      </nav>
          <button class="header-search">
              <img src="../../static/images/search.svg">
          </button>
          <a href="#" class="button button-js">Contact  Us</a>           
</header>