<header class="header container"> 
  <img class="union" src="images/favicon/union.png" alt="">
      <nav class="menu">
          <ul class="dots-none header-list">
              <li class="header-item">
                  <a href="#">Blog</a>
              </li>
              <li class="header-item">
                  <a href="#">Catalog</a>
              </li>
              <li class="header-item">
                  <a href="#">About Us</a>
              </li>
          </ul>
      </nav>
          <button class="header-search">
              <img src="images/search.svg">
          </button>
          <a href="#" class="button button-js">Contact  Us</a>           
</header>